# .gitignore
target/
!.mvn/wrapper/maven-wrapper.jar
log/
*.class

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/

# Mac
.DS_Store

# Visual Studio Code
.vscode/
*.code-workspace
bin/